# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1: Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:Left table = books | Right table = to\_read

**Part B:** Using table 2, answer the following questions:

- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change? Why?

> Your Answer:The result will show the top 50 rows with user\_id values instead of just the top 50 rows which could contain some null values in the user\_id column.

In [ ]:
/*
-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;
*/

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Left table = "books" | Right table = "to\_read"

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer: "Right-joined" tables will show the right table with records that match in the left table. Null values will populate the left table columns where unmatched to the right table.

In [ ]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*/

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:** Look at the table and explore how it was populated. Try manipulating the query to better understand how this table works. Try adding a WHERE clause, or ORDER BY a column on the `books` table. Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: You would use a full join to show records that are from both tables whether they are matched or not.

In [16]:

-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE tr.book_id is not null

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,4
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2,257,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
NULL,NULL,NULL,2,16
NULL,NULL,NULL,2,92
Dune Messiah (Dune Chronicles #2),3.86,140,2,106
NULL,NULL,NULL,2,113
NULL,NULL,NULL,2,233
NULL,NULL,NULL,2,247
NULL,NULL,NULL,2,380
NULL,NULL,NULL,2,408
NULL,NULL,NULL,2,439
NULL,NULL,NULL,2,479
NULL,NULL,NULL,2,516
NULL,NULL,NULL,2,619
NULL,NULL,NULL,2,1069
The Iliad,3.83,1726,2,1371
NULL,NULL,NULL,2,1384
NULL,NULL,NULL,2,1597
NULL,NULL,NULL,2,1926
NULL,NULL,NULL,2,1967
NULL,NULL,NULL,2,1969
NULL,NULL,NULL,2,2220

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:** What does an inner join do?

> Your Answer: An inner join displays results only if they are matched in both tables

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer: The inner join makes the where clause redundant because it only returns the results that are matches in both tables.Â 

**Part C:** When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time. Rewrite this inner join query so that it contains no redundant code.

> Your Answer: Update the query in the code box below.

In [23]:
-- INNER JOIN
USE BooksDB
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM books AS b
INNER JOIN to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,552,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,644,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,754,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,826,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1043,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1205,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1442,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1470,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1712,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1814,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1919,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2051,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2052,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2158,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2160,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2345,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2476,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2523,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2623,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2673,1

## **QUESTION 5:** Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:** What is the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want the _most popular_ book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.

Minimum Desired output:\_ The title of the most tagged book, and the number of times the book has been tagged.

**Title:**

**Part B:** How many different tags have been used for the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.

_Minimum Desired Output:_ The tag id for the most popular tag used for the most tagged book.

**Tag Id:**

**Part C:** What is this particular tag?

You may return this answer with a simple query.

_Minimum Desired Output:_ The tag name for the most popular tag used for the most tagged book.

**Tag Name:**

In [59]:
-- Code Here

-- PART A

/*
USE BooksDB
SELECT TOP 1 b.title, COUNT(bt.goodreads_book_id) AS tcount
FROM books AS b
INNER JOIN book_tags AS bt
ON b.best_book_id = bt.goodreads_book_id
GROUP BY b.title
ORDER BY tcount DESC;
*/

-- PART B

/*
USE BooksDB
SELECT TOP 1 b.title,bt.tag_id,bt.count AS tag_count
FROM books AS b
INNER JOIN book_tags AS bt
ON b.best_book_id = bt.goodreads_book_id
WHERE b.title = 'Selected Poems'
ORDER BY tag_count DESC;
*/

-- PART C


USE BooksDB
SELECT tag_name
FROM tags
WHERE tag_id = 30574

tag_name
to-read

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice. Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc. Start by querying the tag table for your chosen tag. (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard). If your query returns more than one result, pick your favorite.

Here is an example. Alyce wanted to search for Halloween books. She used the wildcard, `%halloween%` and 8 different combinations were found. Alyce selected `halloween-storytime`, with a tag id of 13877.

_Minimum Desired Output:_ tag name and tag id

**Your Tag and Tag Id: winter - 32566**

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

Alyce joined the book table with the tags table and discovered that "The Little Old Lady Who Was Not Afraid of Anything" was tagged as `halloween-storytime` the most.

_Minimum Desired Output:_ title and tag count

**Your Title and Number of times the tag was used: The Snowy Day - 226**

In [100]:
-- Code Here:
--PART A
/*
USE BooksDB
SELECT *
FROM tags
WHERE tag_name LIKE '%Winter%'
*/
--32566 -  winter

--PART B
USE BooksDB
SELECT TOP 1 b.title, bt.count AS btc
FROM books AS b
INNER JOIN book_tags AS bt
ON b.best_book_id = bt.goodreads_book_id
WHERE bt.tag_id = 32566
ORDER BY btc DESC
-- The Snowy Day, 226

title,btc
The Snowy Day,226

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?

Your Answer:

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

*Hint:* Suggest using an alias for the aggregation you will need to run on the `user_id`

*Minimum Desired Output:* title and aliased column

In [ ]:
-- Code Here:
USE BooksDB
SELECT

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

_Hint:_ You might want an alias for the titles.

_Minimum Desired Output:_ `user_id` and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

In [ ]:
-- Code Here: